.container{
    width: 400px;
    height: 250px;
    background-color: #D9D9D9;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;

}
h2{
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.main-content{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}